[Unit]
Description=Raspberry Pi System Monitor API Service
After=network.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 %h/pi_system_monitor.py
WorkingDirectory=%h
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=10
Type=simple
User=%u
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target 